<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="dns-prefetch" href="//twitter.com/CollectiveAcuit">
    <link rel="stylesheet" href="styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="styles/lab.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="vtp" content="placeholder">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Cacophony - by Collective Acuity</title>
</head>
<body>
    <h1>Cacophony</h1>
    <p>An Acoustic Hill-Climbing Game</p>

    <!-- Javascript Block -->
    <script type="text/javascript" src="scripts/lab.js"></script>

</body>
</html>
